// import mixins from styles folder in assets folder
@import '../../assets/styles/_mixins.scss';

.banner {
  min-height: 30vh;
  position: relative;
  background-image: url('../../assets/main-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lexend', sans-serif;
  background-position: center center;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4%;
  height: 91.5vh;

  @include atMdScreen {
    min-height: 50vh;
  }

  @include atLgScreen {
    min-height: 80vh;
  }

  @include atLgScreen {
    min-height: calc(100vh - 88px);
  }

  &__hero {
    padding: 0 2rem;
    text-align: center;
    top: 0;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    right: 0;
    transform: translate(0, 15%);

    @include atMdScreen {
    }

    @include atXLScreen {
    }
  }

  &__title {
    font-size: 1rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #ffff;

    @include atMdScreen {
      font-size: 2rem;
    }

    @include atXLScreen {
      font-size: 3rem;
    }
  }
}
